@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
:root{
    --primary-color:#4E5150;
    --secondary-color:#A9A9A9;
   --tertiary-color:#BDBDBD;


}
/** images size **/
.person__photo{
   
    width:10vw;
    border-radius: 1rem;
}
.photo1{
    width:13vw;
    height:30vh;
    border-radius: 12px;
}
.photo2{
    width:30vw;
    height:30vh;
    border-radius: 12px;

}
.photo3{
    width:30vw;
    height:30vh;
    border-radius: 12px;
}
.photo6,.photo5{
    width:13vw;
    height:30vh;
    border-radius: 12px;

}
.sub-element-two{
    width:13vw;
    border-radius: 12px;
    height:60vh;
}

.page{
    margin-top:2rem;
    display:flex;
    flex-direction: column;
    /* width:62vw; */
    align-items: center;
}

.page__profile{
    display:flex;
    flex-direction: column;
}
.person__name{
    font-family: Montserrat;
    font-weight:600;
    font-size:1.5rem;
    line-height:1.8rem;
    color:var(--primary-color);

}
.number{
    font-family: Montserrat;
    font-weight:600;
    font-size:1.1rem;
    line-height:1.3rem;
    color:var(--primary-color);
    
}
.text{
    font-family: Montserrat;
    font-weight:600;
    font-size:0.8rem;
    line-height:1rem;
    color:var(--tertiary-color);

}
.person__location{
    font-family: Montserrat;
    font-weight:600;
    font-size:0.8rem;
    line-height:1rem;
    color:var(--secondary-color);


}

.page__stats{

   display: flex;
   flex-direction: row;
}

.page__images{
    display: flex;
    flex-direction: column;
}
.row-container-one{
    display: flex;
    flex-direction:row;
}
.row-container-two{
    display:flex;
    flex-direction: row;
}
.sub-element-one{
    display:flex;
    flex-direction: column;
}
.photo5-photo6-container{
    display: flex;
    flex-direction: row;
}