
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/** images size **/
.person__photo{
   
    width:10vw;
    border-radius: 1rem;
}
.photo1{
    width:13vw;
    height:30vh;
    border-radius: 12px;
}
.photo2{
    width:30vw;
    height:30vh;
    border-radius: 12px;

}
.photo3{
    width:30vw;
    height:30vh;
    border-radius: 12px;
}
.photo6,.photo5{
    width:13vw;
    height:30vh;
    border-radius: 12px;

}
.sub-element-two{
    width:13vw;
    border-radius: 12px;
    height:60vh;
}

.page{
    margin-top:2rem;
    display:flex;
    flex-direction: column;
    /* width:62vw; */
    align-items: center;
}

.page__profile{
    display:flex;
    flex-direction: column;
}

.page__stats{

   display: flex;
   flex-direction: row;
}

.page__images{
    display: flex;
    flex-direction: column;
}
.row-container-one{
    display: flex;
    flex-direction:row;
}
.row-container-two{
    display:flex;
    flex-direction: row;
}
.sub-element-one{
    display:flex;
    flex-direction: column;
}
.photo5-photo6-container{
    display: flex;
    flex-direction: row;
}